* {
    margin: 0;
}
body {
    background-color: beige;
}
nav {
    background-color: rgb(88, 119, 142);
    display: flex;
    position: sticky;
}
img {
    margin-left: 30px;
    width: 30%;
}
#U1 {
    display: flex;
    margin: auto;
    margin-left: 60px;
    width: 60%;
    justify-content: space-evenly;
    padding: 20px;
}
#U1 a {
    text-decoration: none;
}
#U1 a:hover {
    color: beige;
    text-decoration: underline 5px;
    border-radius: 20px;
}
li {
    color: whitesmoke;
    list-style-type: none;
}
section {
    height: 437px;
    display: flex;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.ap1 {
    margin-bottom: 5px;
}
#A1 {
    width: 33.3%;
    padding: 20px;
}
#A1 h2 {
    width: 80%;
    margin: auto;
}
#A2 {
    width: 33.33%;
    padding: 20px;
}

#A3 {
    width: 33.33%;
}
#I1 {
    display: flex;
    padding: 5px;
    width: 80%;
    margin: auto;
}
.pi1 {
    width: 30%;
    margin-right: 15px;
}
.pi2 {
    width: 70%;
}
#I2 {
    width: 80%;
    margin: auto;
    display: flex;
}
#I3 {
    width: 80%;
    margin: auto;
    display: flex;
}
.in1 {
    width: 80%;
    height: 30px;
}
.in2 {
    width: 80%;
    height: 70px;
}

footer {
    height: 186px;
    display: flex;
    background-color: rgb(88, 119, 142);
}
#F1 {
    width: 30%;
}
#F1 div {
    width: 90%;
    margin: auto;
    margin-top: 40px;
}
#F1 img {
    width: 55%;
    margin-left: 0;
}
#F1 p {
    text-align: left;
    width: 90%;
    color: white;
}
#F1 a {
    text-decoration: none;
    color: white;
    width: 90%;
    
}
#F2 {
    width: 80%;
    color: white;
    display: flex;
    margin: 10px;
    height: 167px;
}
#F2 hr {
    width: 90%;
}
#D1 {
    width: 33.33%;
    text-align: left;
    height: 165px;
    margin-right: 5px;
}
#D2 {
    width: 33.33%;
    height: 165px;
    margin-right: 5px;
}
#D3 {
    width: 33.33%;
    height: 165px;
}
#F2 p {
    text-align: start;
}